@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/* variables */
:root {
    --clr-primary: #678e3e;
    --clr-primary-medium: #9cc473;
    --clr-primary-light: #beed8c;
    --clr-primary-tr: #678e3ead;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-white: #ffffff;
    --ff-primary: "Catamaran", sans-serif;
    --ff-secondary: "Grand Hotel", cursive;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}

/* ====== global styles ======*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 3rem;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
}

.btn {
    text-transform: uppercase;
    background: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.75rem 1rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
    border-radius: 6px;
}

.btn:hover {
    color: var(--clr-primary);
    background: var(--clr-primary-light);
}

.clearfix::after,.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.section-center {
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

.section-title {
    margin-bottom: 2rem;
}

.section-title h3 {
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
}

.section-title h2 {
    font-family: var(--ff-primary);
    margin-bottom: 2rem;
}

@media screen and (min-width:992px) {
    .section-center {
        width: 95vw;
        padding: 4rem 1rem;
    }
}
/* navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 3rem;
    background: var(--clr-primary-tr);
    top: 0;
    z-index: 10;
}

.nav h1 {
    display: inline-block;
    color: var(--clr-white);
    margin: 0.4rem 1.5rem;
    font-size: 2rem;
    transition: var(--transition);
}

.nav h1:hover {
    color: var(--clr-grey-1);
    cursor: pointer;
}

.nav-button {
    display: inline-block;
    margin-right: 2rem;
    transition: var(--transition);
}

.top,
.middle,
.bottom {
    width: 36px;
    height: 5px;
    background: #222;
    margin-bottom: 6px;
    margin-top: 4px;
}

.nav-button:hover {
    cursor: pointer;
    scale: 1.2;
}

.navbar {
    position: fixed;
    z-index: 20;
    background: var(--clr-grey-10);
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: var(--transition);
}

.nav-close {
    font-size: 4rem;
    position: relative;
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    color: #f29c9c;
}
.nav-close i {
    transition: var(--transition);
}

.nav-close i:hover {
    cursor: pointer;
    color: #bb2525;
}

.navbar ul {
    list-style: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--clr-grey-5);
    letter-spacing: 0.2rem;
}

.navbar ul li {
    padding-left: 1rem;
    transition: var(--transition);
}

.navbar ul li a {
    color: var(--clr-grey-5);
}

.navbar ul li:hover {
    cursor: pointer;
    background: var(--clr-primary-light);
}

.showNav {
    transform: translateX(0);
}

.item-link {
    transition: var(--transition);
    display: block;
}

.navbar ul li:hover .item-link {
    transform: translateX(1%);
}

@media screen and (min-width: 768px) {
    .navbar {
        top: 3rem;
        max-width: 20rem;
        width: 30vw;
    }

    .navbar i {
        margin-right: -1rem;
    }
}

/* ========= header ========== */
.header {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/main-bcg.jpeg") center/cover no-repeat fixed;
    overflow-x: hidden;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner h2 {
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
    animation: banner-h2-animation 3s;
}

.banner h1 {
    color: var(--clr-white);
    text-transform: uppercase;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    animation: banner-h1-animation 3s;
}

@keyframes banner-h1-animation {
    0% {
        opacity: 0;
        transform: translateX(-30vw);
    }

    35% {
        opacity: 1;
        transform: translateX(10vw);
    }

    75% {
        transform: translateX(-5vw);
    }
}

@keyframes banner-h2-animation {
    0% {
        opacity: 0;
        transform: translateX(30vw);
    }

    35% {
        opacity: 1;
        transform: translateX(-10vw);
    }

    75% {
        transform: translateX(5vw);
    }
}



.banner-btn {
    outline: 0.125rem solid var(--clr-primary);
    outline-offset: 0.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.7rem;
    border-radius: 0;
    animation: button-fade-in 5s;
} 

@keyframes button-fade-in {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }

    45% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
    }
}

.banner-btn:hover {
    outline-offset: 0.5rem;
}

/* ===== content devider ===== */
.content-devider {
    width: 100vw;
    height: 0.5rem;
    background: linear-gradient(
        to left, 
        var(--clr-primary), 
        #e9b949, 
        var(--clr-primary)
    );
}

/* skills */
.skills {
    background: var(--clr-grey-10);
}

.skill {
    display: inline-block;
    text-align: center;
    padding: 2rem 0;
    transition: var(--transition);
    border-bottom: 0px solid #9cc47300;
}

.skill-icon {
    display: inline-block;
    color: var(--clr-primary);
    font-size: 3rem;
    transition: var(--transition);
    top: 0;
}

.skill-title {
    font-size: 1.4rem;
}

.skill-text {    
    width: 50%;
    margin: 0 auto;
}

.skill:hover .skill-icon {
    transform: translateY(-5%);
    color: var(--clr-primary-medium);
}

.skill:hover {
    background: var(--clr-white);
    box-shadow: 0 2px var(--clr-primary-medium);
}

.temp {
    display: block;
    width: 100vw;
    height: 100vh;
    background: var(--clr-grey-5)
}

.about-img,
.about-info {
    margin: 2rem 0;
}

.about-picture-container {
    background: var(--clr-primary);
    border: 0.5rem solid var(--clr-primary);
    max-width: 30rem;
    overflow: hidden;
}

.about-picture {
    transition: var(--transition);
    transform: scale(100%);
}

.about-picture-container:hover .about-picture {
    transform: scale(120%);
    opacity: 0.5;
}

.about-text,
.check-out-text {
    max-width: 26rem;
}

.grey {
    background: var(--clr-grey-10);
}

.check-out-picture-container img {
    border-radius: 0.5rem;
    margin: 2rem 0;
    height: 20rem;
    object-fit: cover;
    box-shadow: 3px 3px 5px rgb(141, 141, 141);
    transition: var(--transition);
}

@media screen and (min-width:768px) {
    .check-out-picture-container {
        width: 50%;
        float: left;
        padding-right: 2rem;
    }

    
.check-out-picture-container img:hover {
    transform: scale(110%);
    box-shadow: 6px 6px 10px rgb(85, 85, 85);
    cursor: pointer;
}
}

@media screen and (min-width:992px) {
    .about-img,
    .about-info {
        width: 50%;
        float: left;
    }
    
    .about-info {
        padding-left: 5rem;
    }

    .check-out-picture-container {
        width: 33.33%;
        float: left;
    }
}

@media screen and (min-width:1200px) {
    .check-out-picture-container,
    .check-out-info {
        width: 25%;
        float: left;
    }

    .check-out-info {
        padding: 2rem 0;
    }
}

.services-title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: -4rem;
}

.service-card {
    background: var(--clr-grey-10);
    margin: 2rem 0;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
    transition: var(--transition);
}

.service-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.service-img-container img{
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    height: 17rem;
    object-fit: cover;   
}

.service-img-container {
    position: relative;
}

.icon-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-primary-light);
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 50%;
    border:6px solid var(--clr-grey-10);
}

.icon-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3rem;
    color: var(--clr-primary);
}

.service-info {
    max-width: 300px;
    margin: 4rem auto;
    padding-bottom: 2rem;
}

.service-info p {
    color: var(--clr-grey-5);
}

.service-btn {
    font-size: 0.75rem;
    padding: 0.4rem;
}

@media screen and (min-width: 768px) {
    .service-card {
        width: 45%;
        float: left;
        margin-right: 5%;
        
    }
}

@media screen and (min-width: 992px) {
    .service-card {
        width:30%;
        float: left;
        margin-right: 3.333%;
    }
}

.contact-us {
    background: var(--clr-grey-10);
}

.contact-info {
    margin-bottom: 4rem;
}

.contact-item {
    margin-bottom: 2rem;
}

.contact-item .contact-title{
    color: var(--clr-primary);
}

.contact-form {
    border-radius: var(--radius);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background: var(--clr-white);
    text-align: center;
    padding-top: 1rem;
    max-width: 600px;
}

.contact-form h3 {
    color: var(--clr-grey-5);
}

.contact-form input, textarea {
    height: 2.5rem;
    display: block;
    margin: 1rem auto;
    width: 90%;
    border: none;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    letter-spacing: 0.375rem;
    font-size: 1rem;
    padding: 1rem;
}

.contact-form textarea {
    resize: vertical;
    margin-bottom: 2rem;
}

.contact-us-btn {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media screen and (min-width:567px) {
    .contact-us .section-center article {
        width: 45%;
        float: left;
        margin-right: 5%;
    }
}

@media screen and (min-width:993px) {
    .contact-item h4 {
        font-size: 150%;
    }
}

.footer {
    text-align: center;
    background: #222;
    color: white;
    
}

.footer, .footer h4 {
    font-weight: lighter;
    text-transform: uppercase;
}

.footer .social-icons {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.footer .social-icons i {
    padding: 0.5rem;
    transition: var(--transition);
}

.footer .social-icons i:hover {
    cursor: pointer;
    color: var(--clr-primary);
}

.footer .back-to-top {
    margin-top: 1.5rem;
    transition: var(--transition);
}

.footer .back-to-top:hover {
    cursor: pointer;
    color: var(--clr-grey-5);
}

.footer-tea {
    color: var(--clr-primary);
}

@media screen and (min-width: 993px) {
    .footer i{
        font-size: 140%;
    }
}

/* ====== media queries ====== */
@media screen and (min-width:567px) {

    .skill {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width:993px) {

}

@media screen and (min-width:1200px) {

    .skill {
        width: 25%;
        float: left;
    }
}


@media screen and (min-width:800px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}